
/* Your CSS Code here. */
.main{
	width="200px";
	background-color:purple;
	color:white;
	left-border:green;
	padding :10px 10px 10px 10px;
border-left:5px solid green;	

.heading{
font-size:20px;
	padding :10px 10px 10px 10px;
}